@model Mission08_Team0114.Models.Task
<h1>Create Task</h1>
<form method="post" asp-action="@(Model.taskId > 0 ? "EditTask" : "AddTask")">
    
    <!-- Task ID (hidden) -->
    <input type="hidden" asp-for="taskId" />

    <!-- Date Field -->
    <div class="mb-3">
        <label asp-for="taskName" class="form-label">Task Name:</label>
        <input asp-for="taskName" class="form-control" />
        <span asp-validation-for="dueDate" class="text-danger"></span>
    </div>
    
    <!-- Date Field -->
    <div class="mb-3">
        <label asp-for="dueDate" class="form-label">Date:</label>
        <input asp-for="dueDate" class="form-control" />
        <span asp-validation-for="dueDate" class="text-danger"></span>
    </div>
    
    <!-- Quadrant Field -->
    <div class="mb-3">
        <label asp-for="quadrant" class="form-label">Quadrant:</label>
        <select asp-for="quadrant" class="form-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <span asp-validation-for="quadrant" class="text-danger"></span>
    </div>
    
    <!-- Category Field -->
    <div class="mb-3">
        <label asp-for="categoryId" class="form-label">Category:</label>
        <select asp-for="categoryId">
            <option value="">Select a Category</option>
            @foreach (var row in ViewBag.Categories)
            {
                <option value="@row.categoryId">@row.categoryName</option>
            }
        </select>

        <span asp-validation-for="categoryId" class="text-danger"></span>
    </div>
    
    <!-- Completed Field -->
    <div class="mb-3">
        <label asp-for="completed" class="form-label">Completed:</label>
        <select asp-for="completed" class="form-select">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <span asp-validation-for="completed" class="text-danger"></span>
    </div>
    
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Save Task</button>
</form>

<div asp-validation-summary="All"></div>