@model Mission08_Team0114.Models.Task

@{
    Layout = null;
}

<h2>Confirm Deletion</h2>
<h3>@Model.taskName</h3>
<form method="post">
    
    <input type="hidden" asp-for="taskId"/>
    <button type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="Quadrants">Cancel</a>
</form>